  @import url('https://fonts.googleapis.com/css2?family=Geologica:wght@600&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Geologica', sans-serif;
  text-decoration:none;
  /* border-radius: .5rem; */
    text-transform: capitalize;

}


:root{
  --creem: #dfe2d1;
   --black:#333;
   --dg-white:#eee;
   --red:#DC9A5F;
  
}

::-webkit-scrollbar{
  height: 5rem;
  width: 1rem;
  
}
::-webkit-scrollbar-track{
  background:transparent;
}
::-webkit-slider-thumb{
  background: var(--creem);
  border-radius: 5rem;
}

html{
  font-size:62.5%;
  scroll-behavior: smooth;
  
}
body {
    color:black;
    background: white;
width:100%;
}


.swiper-slide{
  position: relative;
}

.swiper-slide a{
  position: absolute;
  bottom :23%;
  left:13%;
  background: #333;
  font-size: .5rem;
  color: #fff; padding: .5rem;
}

.item{
  position: relative;
  width: 100%;
}
.item img{
  width: 100%;
}
.item h1{
  position: absolute;
  bottom: .5rem;
  width: 100%;
  text-align: center;
}

nav a::after{
  contain: "";
  width: 50%;
  height: .3rem;
  

}

.active{
  color: #c2410c;
}
.box{
  display: flex;
  align-items: center;
  justify-content: center;
}


.explors .swiper-slide{
  width: 8.5rem;
  height: 8.5rem;

}
.explors .swiper-slide img{
  width: 100%;
  height: 100%;
}

.pro-item{
  padding: .5rem;
  width: 100%;
}
.pro-item img{
  width: 100%;
  height: 22rem;
}

.btu{
  background: rgb(234 88 12);
  padding: .5rem;

}

.mySwiper img{
  width: 100%;
}

.new-box{
  position: relative;
  width: 100%;
  height: 30rem;
}

.new-box img{
  width: 100%;
  height: 100%;
}
.new-box .text-btu{
  font-size: 1.8rem;
  position: absolute;
  top: 12%;
  left: 12%;
  color: white;
}
.new-box .text-btu h3{
  color: #da2e2e;
  font-weight: 600;
}



@media only screen and (max-width:540px) {

   nav{
    display:flex;
    position: absolute;
    top :2rem;
    background: white;
    right:100%;
    flex-direction: column;
    height: 100vh;
    z-index: 1000;
   justify-content: flex-start;
   transition: 0.5s right ;

  }
}
