  @import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Geologica', sans-serif;
  text-decoration:none;
  /* border-radius: .5rem; */
    text-transform: capitalize;

}


:root{
  --creem: #dfe2d1;
   --black:#333;
   --dg-white:#eee;
   --red:#DC9A5F;
  
}

::-webkit-scrollbar{
  height: 5rem;
  width: 1rem;
  
}
::-webkit-scrollbar-track{
  background:transparent;
}
::-webkit-slider-thumb{
  background: var(--creem);
  border-radius: 5rem;
}

html{
  font-size:62.5%;
  scroll-behavior: smooth;
  
}
body {
    color:black;
    background: white;
width:100%;
}


.swiper-slide{
  position: relative;
}

.swiper-slide a{
  position: absolute;
  bottom :23%;
  left:13%;
  background: #333;
  font-size: .5rem;
  color: #fff; padding: .5rem;
}

.item{
  position: relative;
  width: 100%;
}
.item img{
  width: 100%;
}
.item h1{
  position: absolute;
  bottom: .5rem;
  width: 100%;
  text-align: center;
}

nav a::after{
  contain: "";
  width: 50%;
  height: .3rem;
  

}

.review .review-box{
  border:1px solid #ccc;
  height: 8.2rem;
  padding: .6rem;
  gap:1rem;
  display: flex;
  
}

.review .review-box .img{
  height: 100%;
    width:13rem;



}

.review .review-box .img img{
  height: 100%;
  width:100%;
}

.review-text p{
  font-size: .7rem;
}

.review-text h6{
  color:#BAB350;
}


.form-main input,.form-main textarea{
  border: 1px solid #aaa;
  padding: 1rem;
}

.details .info{
display: flex;
gap: 2rem;
margin-top: 1.2rem;
flex-direction: column;
}
.details li{
  font-size: 1.8rem;
  font-weight: 300;
  display: flex; gap: 3rem;
}

.active{
  color: #c2410c;
}
.box{
  display: flex;
  align-items: center;
  justify-content: center;
}


.explors .swiper-slide{
  width: 8.5rem;
  height: 8.5rem;

}
.explors .swiper-slide img{
  width: 100%;
  height: 100%;
}

.pro-item{
  padding: .5rem;
  width: 100%;
}
.pro-item img{
  width: 100%;
  height: 22rem;
}

.btu{
  background: rgb(234 88 12);
  padding: .5rem;

}




.new-box{
  height:100%;
}

.new-box img{
  height: 100%;
}
.mySwiper img{
  width: 100%;
}

.feture .new-box{
  position: relative;
  width: 100%;
  height: 16rem;
}

.new-box img{
  width: 100%;
  height: 100%;
}
.new-box .text-btu{
  font-size: 1.8rem;
  position: absolute;
  top: 12%;
  left: 12%;
  color: white;
}
.new-box .text-btu h3{
  color: #da2e2e;
  font-weight: 600;
}


.pro-item {
  border: 1px solid #ccc;
  border-radius:.3rem;
    height: 100%;
  display: flex;
  gap:.5rem;
  flex-direction: column;

}

.pro-item .img {
  height: 17rem;
  flex-basis: 17rem;

}
.pro-item .img img {
  height: 100%;

}

.pro-item .cantener{
  width: 100%;
  height: 100%;
    flex-basis: 30%;

}

.pro-item .cantener h1{
  font-weight: 800;
  font-size: 1.4rem;
  color:#555;
}



@media only screen and (max-width:540px) {

   nav{
    display:flex;
    padding-top:2rem;
    position: absolute;
    top :0rem;
    background: white;
    right:100%;
    flex-direction: column;
    height: 100vh;
    z-index: 1000;
   justify-content: flex-start;
   transition: 0.5s right ;

  }
  
     nav ion-icon{
       position: absolute ;
       top:2rem;
       font-size:3rem;
       left:2rem;
     }
     
     
     .product-main{
       height: 100%;
     }



}
