
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'popiens',sans-serif;
  text-decoration:none;
  transition: 0.2s;
  border-radius: .5rem;
    text-transform: capitalize;

}


:root{
  --creem: #dfe2d1;
   --black:#333;
   --dg-white:#eee;
   --red:#DC9A5F;
  
}

::-webkit-scrollbar{
  height: 5rem;
  width: 1rem;
  
}
::-webkit-scrollbar-track{
  background:transparent;
}
::-webkit-slider-thumb{
  background: var(--creem);
  border-radius: 5rem;
}

html{
  font-size:62.5%;
  scroll-behavior: smooth;

}
body {
    color:black;
    background: white;

}

.main{
    margin-top: 0;
    position: fixed;

}
section{
  max-width: 120rem;
    width:100%;
      

}

header{
  margin-bottom: 0rem;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #fff;
  height: 8rem;
  width:100%;
      z-index: 1000;

  padding: 4rem 2rem;
  box-shadow: -.1rem -.1rem 1rem .1rem #222;
}

h1{
  font-style: 3.5rem;
  font-weight: 500;
}

span{
  color:var(--red);
}

p{
  font-size: 1.5rem;
}

.logo{
  font-size:2rem ;
padding-bottom: 5rem;
display:flex;
position: relative;
}
nav{
  display:flex;
  gap:3rem;
  height: 3rem;
  font-size: 1.5rem;

}
nav a{
    text-decoration: none;
    color:#333;
    position: relative;
    cursor: pointer;
}

nav a::after{
content: '';
  width: 0;
  height: .3rem;
  position: absolute;
  background:#333;
  left:0;
  color:white;
  bottom: 0rem;
  transition: 0.5s;
}

/*------*/
nav a:hover::after , nav a.active::after{
  width: 100%;
  font-weight: 500;
}
#menu-btu{
  display: none;
  font-size: 2.5rem;
    color:#333;
    

}

.form{
  height: 5rem;
}



 /*header .search{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 10;
font-size: 1.5em;
justify-content:center;
align-items: center;
cursor: pointer;
}

 .searchbox{
  display: flex;
  position: absolute;
  width:100%;
  height:0;
  align-items: center;
  background: #fff;
  padding:0 rem;
  left:0%;
  top:-100%;
  transition: 0.5s ease-in-out;
}
.searchbox.active{
  top:0;
}
.searchbox input{
  outline: 0;
  border:0;
  width:100%;
  height: 5rem;
  font-size:1.25em;
  color:#000;
  background: #fff;
  border-bottom: 1px solid #333;
}*/

/*------------sider page css-----------*/
.home  .swiper .swiper-wrapper .swiper-slide img{
  margin-top: 8.5rem;
}
.hero{
  margin-bottom: 2rem;
    margin-top: 0rem;
  z-index: -1;

  background-image: url("img/hero4.png");
  height: 50rem;
  
  width:100%;
  background-repeat: none;
  background-size: cover;
  padding: 6rem  2.5rem ;
  background-position: top 25% right 0;
  
}

.hero .cantener{

  top:50%;
  left:4rem;
  width: 50%;
  position: relative;
}
.hero h1{
  
  font-size: 2.5rem;
  color:#777;
}
.hero h2{
  font-size: 5rem;
    color:#333;
}
.hero h3{
    font-size: 4rem;
    color:#0CA761;
}
.hero p{
    font-size: 1.5rem;
    color:#333;
}

 .about .fev{
     z-index: -1;

   display: flex;
   flex:wrap;
   gap:1rem;
   width: 100%;
   justify-content: center;
   align-items: center;
 }
 .about .fev .item{
     z-index: -1;

   background: #fff;
   padding: 1rem;
   width:14rem;
   text-align: center;
   position: relative;
 }
 
  .about .fev .item img{
    background: #eee;
    
  }

 
  .about .fev .item h2{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
    background: #eee;
    width: 100%;
    padding: 0.5rem;
    position: absolute;
  }
  
  

  
  .product{
    margin-top:2rem;
    margin-bottom: 2rem;
    width:100%;
    line-height: 2.5rem;
  }
  
  .product p{
    text-align: center;
    font-size: 1rem;
    
    font-weight: 300;
  }
  
  
   .product-main{
         margin-top:2rem;
         margin-bottom: 2rem;
     display:flex;
     width:100%;
     flex-wrap: wrap;
     gap:1rem;
     align-items: center;
     justify-content:center;
     
   }
  .product-main .pro-item{
  border-radius: 1.5rem;
    height: fit-content;
    width: 30rem;
    background: #fff;
    padding: 1rem;
    box-shadow: 0rem 0rem 0.5rem .1rem #ccc;
  }

  .product-main .pro-item .img img{
    width:28rem;
    margin-top: 0;
    height: 31.5rem;
  }
  
    .product-main .pro-item .cantener{
      text-align:left;
      color:#000;
    }
        .product-main .pro-item .cantener p{
                text-align:left;

          font-size: 1.8rem;
        }
        
        .product-main .pro-item .cantener span{
          font-size: 2rem;
        }
        
        .product-main .pro-item .cantener h3{
          color:#D8CC39;
          font-size: 1.5rem;
        }

        .product-main .pro-item .cantener h2{
          color:#333;
          font-size: 2rem;
          font-weight: 300;
        }
        
       .product-main .pro-item a{
         font-size: 3rem;
         color:var(--black);
         background: transparent;
         border-radius: 50%;
         padding: 1rem;
         position: relative;
         bottom: 0rem;
         margin-left: 85%;
         margin-bottom: 5rem;
       }
       
      .product-main .pro-item .cantener .button{
          border-radius: 1.4rem;   
          margin-left: 1.2rem;
               }

*/

.benner{
  width: 100%;
  z-index: -1;
  text-align: center;
      background-image: url("images/bennar/b2.jpg");
  height: 25rem;
  background-size: cover;
  justify-content: center;
  align-items: center;

}
.benner {
  position: relative;
  width: 100%;

}

.benner  .cantener{
  text-align: center;
  top:20%;
  color:#fff;
  z-index: 10;
  width: 100%;
  position: absolute;
}


.benner  .cantener p{
  color:#ccc;
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: .8rem;

}
.benner .cantener h1{
  font-size: 3.5rem;
  font-weight: 600;
  color:#eee;
}

.benner .cantener h1 span{
  color:var(--red);
}


.benner1{
  width: 100%;
  text-align: center;
      background-image: url("img/banner/b1.jpg");
  height: 25rem;
  background-size: cover;
  justify-content: center;
  align-items: center;

}
.benner1 {
  position: relative;
  width: 100%;

}

.benner1  .cantener{
  text-align: center;
  top:20%;
  color:#fff;
  z-index: 10;
  width: 100%;
  position: absolute;
  line-height: 5rem;
}


.benner1  .cantener h2{
  color:#fff;
  font-size: 3rem;
  margin-bottom: .8rem;
  font-weight: 100;

}
.benner1 .cantener h1{
  font-size: 3.5rem;
  font-weight: 500;
  color:#eee;
}

.benner .cantener h1 span{
  color:var(--red);
}
.button-white{
  display: inline-block;
  margin-top:1rem;
  border-radius: 3rem;
  width:14rem;
  background: transparent;
  cursor: pointer;
    padding:1rem 2rem;
  font-size: 1.8rem;
  text-align: center;
 transition: 0.5s background,0.5s color,0.5s box-shadow;
   text-decoration:none;
  color:var(--dg-white);
  border: 1px solid var(--dg-white);
}

 .button-white {
  color: var(--dg-white);
  border-radius: 1.8rem;
  border: 1px solid var(--dg-white);
}


 .button-white:hover {
  box-shadow: none;
  background: #eee;
  color: #000;
}

.fetures{
  width:100%;
    display:flex;
    flex-direction: column;

}

.fetures .fe-main{
  width: 100%;
    display:flex;
    flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:2rem;
}

.fetures .fe-main .fe-item{
  background-image: url("img/banner/b17.jpg");
  background-size: cover;
  background-repeat: none;
  height: 25rem;
  width: 100%;
    justify-content: flex-start;
    font-size: 1.5rem;
    color:#eee;
    padding: 5rem 0rem 0rem 2rem;
    

}

 .button-blue{
  padding: 1rem;
  border-radius: 1.5rem;
  color:#eee;
  border: 1px solid #eee;
}

 .button-blue:hover{
   color:#eee;
   background: #2CCBC3;
   border: 1px solid #2CCBC3;
 }


.fetures .fe-main .fe-item p{
  font-size: 1.8rem;
  margin-bottom: .8rem;
  
}

.fetures .fe-main .fe-item h1{
  font-weight: 300;
  text-transform: capitalize;
  
}

.pagination{
  margin:2rem 0rem 2rem 0rem;
  text-align: center;
    gap:1rem;

  padding: 3rem;
  padding-left: 42%;
}

.pagination a{
  background: #2FDEC2;
  padding: 2rem;
  width: 7rem;
  color: #eee;
  font-size: 2.5rem;
  text-decoration: none;
  
}

.pagination a:hover{
  background: #2B9D8B;
}




.singin{
  width: 100%;
    background-image: url("img/banner/1.jpg");
    background-size: cover;
    background-repeat: none;
    height: 25rem;
    width: 100%;
  
}
.singin .main{
  display:flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20vh;
  position: relative;
}
 .singin .main .box{
   display: flex;
   width:60%;
   background: #eee;
   border: 1px solid #eee;
 }
 
 .singin .main .button-white{
   border-radius: .5rem;
   background: #30A59E;
   box-shadow: 0rem 0rem 1rem .1rem #30A59E;
   height:5.1rem;
  position: relative;
  top:-.7rem;

 }
 
 .news{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
      background-image: url("images/bennar/1.jpg");

   height: 20rem;
   padding: 5% 2rem;
 }
 
 .news .new{
   color: #fff;
      line-height: 3.5rem;
   font-size: 2.5rem;
 }
 
  .news .new h1{
       font-size: 2rem;

    font-weight: 300;
  }
.news .sing-in {
  border: none;
  outline: none;
  color:#333;
     height: 3rem;

  padding: 0rem;
  display:flex;
  flex-direction: row;
  gap:.5rem;
  
}

.news .sing-in input{
  border: none;
  outline: none;
  padding-left: 1rem;
  color:#333;
  display:flex;
  flex-direction: row;
  gap:.5rem;
  
}


 .news .sing-in button{
      padding: 1rem;
      background: #2FDEC2;
     width: 7rem;
      border: none;
      color:#eee;

 }

 
 /*-----style in sproduct.html page---*/
.single-product{
  width:100%;
  padding: 8.5rem 0 2rem 0;
}

.single-product p{
  text-align: center;
  margin-bottom: 2rem;
}

.single-product .single-product-main{
  display: flex;
  width: 100%;
      gap:1rem;
  flex-wrap: wrap;
align-items: center;
  flex-direction: row;
}

.single-product .single-product-main .single-product-img{
    gap:1rem;
flex:1 1 40rem;
  flex-direction: column;
  width:100%;
  height: 100%;
}



.single-product .single-product-main      .single-product-detile{
  display:flex;
  flex:1 1 40rem;
  width:100%;
line-height: 3.5rem;
  flex-direction: column;
}

.single-product .single-product-main .single-product-img .single-product-main-img{
     display:flex;
     overflow: hidden;
}


.single-product .single-product-main .single-product-img .single-product-main-img img{
  width:100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 1rem
}



.single-product .single-product-main .single-product-img .single-product-row-img{
    flex-basis: 28%;
   display:flex;
   gap:1rem;
}


.single-product .single-product-main .single-product-img .single-product-row-img img{
  width: 100%;
}

.single-product .single-product-main .single-product-detile h6 {
 font-size: 3rem;
 font-weight: 200;
}
.single-product .single-product-main .single-product-detile h4{
  font-size: 2.5rem;
  color:#333;
  font-weight: 500;
  margin:3rem 0 3rem 0;
}

.single-product .single-product-main .single-product-detile h1{
  font-size: 4rem;
  font-weight: 100;
  color:#333;
}

.single-product .single-product-main .single-product-detile .number{
  display:flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.single-product .single-product-main .single-product-detile .number select{
  padding: 1rem;
  margin: 1rem 1.5rem 0rem  0rem;
  width: 30%;
  background: transparent;
  outline: none;
}
.single-product .single-product-main .single-product-detile .number input {
  margin-top: 1rem;
  width: 30%;
  outline: none;
  border: none;
  box-shadow: 0rem 0rem .1rem .1rem #777;
}

.single-product .single-product-main .single-product-detile .button{
  padding: 0rem;
  border-radius: 1rem;
    margin-top: 1rem;
background: #2FDEC2;
border: none;
color: #eee;
}
.single-product .single-product-main .single-product-detile .button:hover{
  background: #2B9D8B;

}

.single-product .single-product-main .single-product-detile p{
  text-align: left;
  margin-top: 2rem;
  line-height: 2rem;
  font-weight: 500;
  color: #777;
}


.blogs{
  margin:2rem 0rem 2rem 0rem ;
  padding-top: 8.5rem;
}

 
.blog-box{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap:.8rem;
}

 .blog-box .blog-main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:1rem;
}

 .blog-main{
   padding: 1rem;
 }


.blog-box .blog-main .blog-img{
  flex-basis: 40%;
}

.blog-box .blog-main .blog-img img {
  width: 100%;
}
 .blog-box .blog-main .blog-content{
   flex-basis: 50%;
}

 .blog-box .blog-main .blog-content h1{
   font-size: 3rem;
   font-weight: 700;
   color:#333;
 }

/*.blogs{
      margin-top: 2.5rem;
     margin-bottom: 2.5rem;
}

.blog-box{
  display: flex;
  flex-direction:column;
  gap:2rem;
}
 .blog-box .blog-main{
  display :flex;
  align-items: center;
  gap:1.5rem;
  flex-wrap: wrap;
}
 .blog-box .blog-main .blog-img{
   width:45rem;
   height: 30rem;
   display: flex;
   overflow: hidden;
   margin-left: 2rem;
}

 .blog-box .blog-main .blog-img img{
 height: 100%;
  width: 100%;
}


.blog-img img:hover {
  filter: grayscale(.5);
  transform: scale(1.2);
}


/*.blog-img:hover  {
  height: 100%;
  transform: scale(1.1);
  border-radius: 10%;

}*/
/* .blog-box .blog-main .blog-img img:hover {


 }
 .blog-box .blog-main .blog-content{

  flex:1 1 40rem;
  text-align: center;
}


.about  .row  .cap h3{
  font-size: 3rem;
  color:var(--white);
  font-weight: 500;
}
.about .row .cap p{
  padding:1rem 0;
  line-height: 2;
  font-size: 1.8rem;
  color:var(--light-white);
}

*/
/*------------home page css------------*/

.shop .swiper-pagination{
  position: relative;
  bottom: 0;
}
.swiper-pagination-bullet{
   background:#333;
 }
 
 .swiper-button-prev,.swiper-button-next{
   color: #333;
 }
 
 .swiper-pagination-bullet-active{
   background: #000;
 }
.swiper .swiper-slide img {
      margin-top: 8.5rem;
 margin-bottom:0;
  width: 100%;
  height: fit-content;
  position: relative;
}

 .swiper .swiper-slide .button{
  position: absolute;
  bottom: 13rem;
  left:11.2rem;
  padding: 1rem;
  border-radius: 2rem;
  width:15rem;

}
.button{
  display: inline-block;
  margin-top:1rem;
  border-radius: 3rem;
  width:14rem;
  background: transparent;
  cursor: pointer;
  color:black;
    padding:1rem 2rem;
  font-size: 1.8rem;
  text-align: center;
  border :1px solid black;
 transition: 0.5s background,0.5s color,0.5s box-shadow;
   text-decoration:none;

}
.button:hover{
  
  background:#000;
  color:white;
  box-shadow: 0 0 1rem .2rem transparent;
}
/*-------sider logo page css-----------*/
.explor {
  display:flex;
    margin-top: 2rem;
  margin-bottom: 2rem;
justify-content: center;
align-content: center;
position: relative;
width:100%;
    z-index: 0;

}
.explor .box{
  height: 10rem;
  flex: 1 1 20rem;
  background: #eee;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;

}

.explor .box h1{
  font-size: 2.5rem;
  text-align: center;
  
}
.explor .box h1 span{
  color:#D37E34;
}


.explor .explors {
  flex:1 1 80rem;
  width: 100%;
}
.explor .explors .swiper-slide img{
  border-radius: 30%;
  position: relative;
  border:none;
  height:8rem;
  width: 8rem;
margin-top:0;

}

  .h{
    z-index: -1;
    position: relative;
    text-align: center;
    height: 25rem;
    margin-bottom: 10rem;
    width:100%;
    background-size: cover;
    justify-content: center;
    align-items: center;
padding-top: 8.5rem;
  }
  
  .h img{
        width: 100%;

  }

/*------------about page css-----------*/
.about{
  padding-top: 8.5rem;
     margin-bottom: 2.5rem;
}
.about .row{
  display :flex;
  align-items: center;
  gap:1.5rem;
  flex-wrap: wrap;
}
.about .row .img{
  flex:1 1 40rem;
}
.about .row .img img{
  width: 100%;
}
.about  .row .cap{
  flex:1 1 40rem;
  text-align: center;
}
.about  .row  .cap h3{
  font-size: 3rem;
  color:var(--white);
  font-weight: 500;
}
.about .row .cap p{
  padding:1rem 0;
  line-height: 2;
  font-size: 1.8rem;
  color:var(--light-white);
}
/*----------the shop page css---------*/
.shop{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}

.heading{
  text-align: center;
  font-size: 4rem;
  font-weight: 800;
  width:100%; 
  text-transform:  capitalize;
  margin-top:1.5rem;
  margin-bottom:.3rem;  
}
.heading span{
  color: var(--red);
}
/*----------the shop page in css------*/
.shop{
  padding:1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
}
.shop .swiper-slide{
  margin-top: 1.5rem;
  height:65rem;
  text-align: center;
  margin-bottom: 2rem;
  width: 50rem;
  box-shadow: 0rem 0rem 1rem .2rem #333;
  border-radius: .5rem;
}


.shop .swiper .swiper-wrapper .swiper-slide  img{
  width: 100%;
  display: flex;
    margin-top: 0rem;

  height: 45rem;
  margin-bottom: 1.2rem;
}

.shop .swiper .swiper-wrapper .swiper-slide  h1{
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
}
.shop .swiper .swiper-wrapper .swiper-slide  p{
  color:#333;
  font-size: 1.3rem;
}

.shop .swiper .swiper-wrapper .swiper-slide  h3{
  color:#CAB546;
  font-size: 1.6rem;
}

.shop .swiper .swiper-wrapper .swiper-slide  .button{
  bottom: 1rem;
  left:16rem;
    text-decoration:none;

  
  
}

/*------------contact css page--------*/



.contact{
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap:2.5em;
}
.contact .row{
  display: flex; 
  align-items:center;
  gap:1.5rem;
}

.contact  .row img{
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.contact .row .img img{
    flex:1 1 40rem;

}



.contact form{
  flex:1 1 40rem;
}

.contact form .box{
  width:100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: .5rem;
background-color:var(--dg-white);
font-size:1.8rem;
color:var(--white);
padding: 1.4rem;
outline: none;
border: none;
}


.box {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: .5rem;
  background-color: var(--dg-white);
  font-size: 1.8rem;
  color: var(--white);
  padding: 1.4rem;
  outline: none;
  border: none;
}


.contact  form span{
  font-size:1.6rem;
  color:var(--black);
}
/*
.contact form .radio{
margin-top: 2rem;}

.contact form .radio lable{
font-size: 1.4rem;
color: var(--dg-white);
margin-left: .5rem;
}
.contact  form .radio #female{
margin-left: 2rem;
cursor: pointer;

}
.contact   form .radio lable input:cliked{
color:var(--green);}

.contact form .radio input{
width: 2rem;
height: 2rem;
color: var(--green);
cursor: pointer;
  
}
*/
 .contact .row{
  position: relative;
}

.contact .row .contact-no{
  position: absolute;
  bottom:6rem;
  left:2rem;
}


.contact .row .contact-no h4{
  color:Var(--black);
  font-size: 1.1rem;
}
.contact .row .contact-no span{
color:var(--red);
font-size: 1.5rem;
}

/*------------footer the strat part----*/

.review .silds-review{
  width:35rem;
 border-radius: .5rem; 
 background: var(--dg-white);
 font-style: 1.6rem;
 padding: 2rem;
 margin-bottom: 1rem;
}
.review .silds-review p{
  line-height:1;
  color:var(--black);
  font-size: 2rem;
  font-weight: 100;
}
.review .silds-review .user {
  display: flex;
  align-items: center;
  gap:1.5rem;
}

.review .silds-review .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
  transform: scale(1.2);
  background-position:center;
}
.review .silds-review .user h3 {
  font-size: 2rem;
  color: var(--white);
  font-weight: 500;
  margin-bottom: 1rem;
  
}
  .review .silds-review .user .stra  ion-icon{
    color:#DBE446;
    font-size: 3rem;}



.footer .share{
   margin-top:1rem;
    background: var(--creem);
    padding-top: 1rem;
    text-align: center;
    padding-bottom: 1rem;
     padding: 2rem;
    
}
.footer .share a{
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  color:var(--black);
  border-radius: 50%;
  font-size: 4rem;


}
.footer .share h4{
  color:var(--black);
}

.footer .share h4 span{
color:var(--red);}
/*------------feture page css ------*/
.fetures {
  display: grid;
    grid-template-columns:repeat(auto-fit, minmax(40rem,5fr));
    width:100%;

}



/*.fetures{
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.fetures .cantener{
  width:100%;
}*/

.fetures .cantener{
      margin: 1rem;
      overflow: hidden;
cursor: pointer;
}

.fetures .cantener img{
    width:100%;
    border-radius: 2rem;
    height: 29.6rem;
          overflow: hidden;

}
.fetures .cantener:hover img{
  transform: scale(1.2) rotate(7deg);

}



/*----------video page css-------------*/


    .heading{
      width: 100%;
      font-size: 25px;
      font-weight: 550;
      text-transform: uppercase;
      padding:10px;
    }
    .video{
      margin-bottom: 15rem;
      display: grid;
      height: 500px;
      padding: 15px;
      background: #fff;
      grid-template-columns: 2fr 1fr;
      gap:10;
    }
    
    .video .main-video{
      padding: 10px;
      background: #eee;
    }
    .video .main-video .iframe{
      width: 100%;
    }
    
    .video .row-video{
      padding:10px;
      background: #eee;
      overflow-y:scroll;
      
      gap:15;
    }
    
    .video .row-video::-webkit-scrollbar{
      width: 8px;
    }
   .video .row-video::-webkit-scrollbar-track{
     background: #ccc;
     border-radius: 50px;
   }
  
  .video .row-video::-webkit-slider-thumb {
    background: #333;
    border-radius: 5rem;
  }

        .video .row-video .row-item{
          background: #fff;
          border: 1px solid #333;
        }

    .video .row-video .row-item .iframe iframe{
      width:100%;
            height: 150px;
            

    }

@media (max-width:600px){
  .video{
  display: grid;
  width:100%;
  grid-template-columns: 1fr;

}
.video .main-video{
  width:100%;
  height: 35rem;
}

.video .row-video .row-item {
  width: 100%;
  height: 20rem;
}
}


.navbar{
  display: none;
  margin-top:0;
  margin-bottom: 0;
  width: 100%;
  background: transparent;
  
}

.navbar a ion-icon{
         
         font-size: 3rem;
         color:#333;
         background: #fff;
         border-radius: 50%;
         padding: 1rem;
         position: relative;
         bottom: 0rem;
         margin-left: 80%;
       }
       

.navbar .container{
  box-shadow: 0rem 0rem 1rem .1rem #333;
}

/*----------the end-------------------*/

@media only screen and (max-width:768px){
   .about .fev {
     display: flex;
     flex: wrap;
  flex-direction: column;
   }
   
     .product-main .pro-item .img img {
       width: 100%;
       height: 100%;
     }
  
   .about .fev .item {
     background: #fff;
     padding: 1rem;
     text-align: center;
     position: relative;
   }
  
   .about .fev .item img {
     background: #eee;
  
   }
  html{
    font-size: 48%;
    width:100%;
  }
    #menu-btu{
     display: inline-block;
     position: absolute;
     top:4rem;
     right: 4rem;
    }
    section {
      margin-bottom: 0rem;
      padding-top: 0;
      max-width: 100rem;

    }
    
.header{
}
  
.header  .navbar-big a{
  
  display:inline-block;
  margin: 2rem;
}

.header  .navbar-big.active{
  clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
}
/**-----             ----------/--*/
  

.navbar-big{
  display:flex;
  z-index: 1;
  text-align: center;
    display:inline-block;

    flex-direction: column;

}



.navbar-big{
  width:50% ;
  height: 100vh;
  background:#fff;
  top:0;
  
  right:-30rem;
  position: fixed;
  padding-top:5rem;
  
}

  
nav a::after{
content: '';
  width: 0;
  height: 0rem;
  position: absolute;
  left:0;
  color:white;
  top: 0rem;
  transition: 0.5s;
}

nav a:hover{
  font-weight: 800;
  font-size: 1.7rem;
  
}

.navbar-big form{
  width:90%;
  margin-left:1rem;
}
.navbar-big ion-icon{
  position: absolute;
  top:25px;
  left:25px;
  cursor: pointer;
  display: block;
}
.count .box-canter {
  margin-bottom: 2rem;
 margin-top:2rem; 

}
.contact {
  display: flex;
  flex-direction: column;
}

.contact-no{
  width:2rem;
}
 .swiper .swiper-slide .button {
   position: absolute;
   bottom: 3rem;
   left: 3rem;
   padding: .8rem;
   border-radius: 2rem;
   width: 10rem;
   font-size: 1rem;

 }
 
  .explor {
    flex-wrap: wrap;
  }
  
  .explor .explors .swiper-slide img{
  border-radius: 30%;
  position: relative;
  border:none;
  height:50rem;
  width: 50rem;
margin-top:0;

}
  .logo {
    display: inline-block;
  }
}
@media only screen and (max-width:540px){
  html{
    font-size: 45%;
  }
    .product-main .pro-item .img img {
      width: 100%;
      height: 100%;
    }
    .product-main .pro-item {
  
      height: fit-content;
      width: 90%;
      background: #fff;
      padding: 1rem;
      box-shadow: 0rem 0rem 0.5rem .1rem #ccc;
    }

  .logo{
    display: inline-block;
  }
  .navbar{
    width:100%;
    display: block;
  }

 .swiper .swiper-slide .button
 {
   position: absolute;
   bottom: 6rem;
   left: 5rem;
   padding: .8rem;
   border-radius: 2rem;
   width: 10rem;
   font-size: 1rem;

 }
 .explor{
   flex-wrap: wrap;
 }
 
 


#menu-btu{
  display: block;
}
}
